{{ define "main" }}
<!-- single leaf post -->

{{ if .Parent }}
<div class="paths">
  {{ if .Parent.Parent }}
  {{ if .Parent.Parent.Parent }}
  <a class="path" href="{{.Parent.Parent.Parent.Permalink }}">{{.Parent.Parent.Parent.Title }}</a> / {{end}}
  <a class="path" href="{{.Parent.Parent.Permalink }}">{{.Parent.Parent.Title }}</a> / {{end}}
  <a class="path" href="{{.Parent.Permalink }}">{{.Parent.Title }}</a>
</div>
{{ end }}

<h1 class="items-title">{{ .Title }}</h1>

<div class="items">

  <div class="post">
    <div class="frontmatter">
      {{ if .Date }}
      <p>Published : {{ .Date.Format "Jan 2, 2006" }} </p>
      {{ end }}
      {{ if isset .Params .Lastmod }}
      <p>Last modified : {{ .Lastmod.Format "Jan 2, 2006" }} </p>
      {{ end }}
    </div>
    {{ $wrappedTable := printf "<div class=table-wrapper> ${1} </div>" }}
    {{ .Content | replaceRE "(<table>(?:.|\n)+?</table>)" $wrappedTable | safeHTML }}
    {{ if isset .Params "sources" }}
    <div class="sources">
      <p>Source(s) : </p>
      <ul>
        {{ range .Params.sources }}
        <li>{{ . | markdownify }}</li>
        {{ end }}
      </ul>
    </div>
    {{ end }}
  </div>

</div>

{{ end }}