{{ define "main" }}
<!-- single leaf post -->

{{ if .Parent }}
<div class="paths">
  {{ if .Parent.Parent }}
  {{ if .Parent.Parent.Parent }}
  <a class="path" href="{{.Parent.Parent.Parent.Permalink }}">{{.Parent.Parent.Parent.Title }}</a> / {{end}}
  <a class="path" href="{{.Parent.Parent.Permalink }}">{{.Parent.Parent.Title }}</a> / {{end}}
  <a class="path" href="{{.Parent.Permalink }}">{{.Parent.Title }}</a>
</div>
{{ end }}

<h1 class="items-title">{{ .Title }}</h1>

<div class="items">

  <div class="post">
    <div class="frontmatter">
      <p>Published : {{ .Date.Format "Jan 2, 2006" }} </p>
      {{ if isset .Params .Lastmod }}
      <p>Last modified : {{ .Lastmod.Format "Jan 2, 2006" }} </p>
      {{ end }}
    </div>
    {{ .Content }}

    {{ if isset .Params "source" }}
    <div class="source">
      <p>Source(s) : </p>
      {{range .Params.source }}
      <p>- {{ . | markdownify }}</p>
      {{ end }}
    </div>
    {{ end }}
  </div>

</div>

{{ end }}