{{ define "main" }}
<!-- top level sections / homepage -->

<div class="items flex flex-column">

  {{ range .Pages }}
  <div class="item flex flex-row">
    <a class="item-title" href="{{ .Permalink }}">
      <h4>{{ .Title }}</h4>
    </a>

    {{ if .Params.tags }}
    <div class="tags">
      {{ range .Params.tags }}
      {{ $url := print (site.Language.Lang) "/tags/" (. | urlize) }}
      <a class="tag" href="{{$url | relURL }}">{{ . }}</a>
      {{ end }}
    </div>
    {{ end }}
  </div>
  {{ end }}

</div>

{{ end }}